@import url("https://use.typekit.net/izl4igd.css");



.container {
    margin: auto;
    margin-top: 12vh;
    margin-bottom: 15vh;
    max-width: 60vw;
    font-family: mokoko, serif;
    color: #363537;
  }

  @media only screen and (max-width: 800px) {
    .container {
      max-width: 85vw;
    }
  }

  @media only screen and (min-width: 800px) {
    .container {
      max-width: 45vw;
    }
  }

.headshot {
  border-radius: 50%;
}

.heading {

    font-family: bebas-neue, sans-serif;
    font-size: 5rem;
}

h3 {
  font-family: bebas-neue, sans-serif;
  font-size: 2rem;
  margin-bottom:0;
}
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    
font-family: bebas-neue, sans-serif;

  }
  .nav-link-item {
    padding-right: 3rem;
  }
  .nav-link-text {
    color: #363537;
  }

  html {
    background-color: #F9C48A
  }
  
  section {
    margin-bottom: 65px;
  }

  section p {
    line-height: 1.75;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  section p:first-of-type {

    margin-top: 1rem;
  }
